
        .make-me-blue {
            color: blue;
        }


        #title{
            color:rgb(30, 134, 175);
        }

        #text1{
            color:darkviolet;
        }

        #bomboclat{
            color:green;
            text-align: center;
            text-decoration:underline;
            text-shadow: 0rcap;
            text-transform:double;
letter-spacing: 10px;
line-height: 2;
font-family: serif;
font-size: 30px;
font-weight: lighter;
font-style: italic;
background-color: #DDFEE9;

        }